@model IEnumerable<PrayerTimes.Models.Masjid>

@{
    ViewBag.Title = "Index";
}

<h2>Chicago Masjid Prayer Times</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FajrTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SunriseTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZuhrTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AsrTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaghribTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IshaTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FirstJumuahTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SecondJumuahTime)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FajrTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SunriseTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ZuhrTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AsrTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MaghribTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IshaTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstJumuahTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SecondJumuahTime)
        </td>
    </tr>
}

</table>
