@model PrayerTimes.ViewModels.MasjidViewModel
@{
    ViewBag.Title = "Home Page";
}

<ul>
    @foreach (var Masjid in Model.Masjids)
    {
        <li>@Masjid.Name</li>
        <li>
            <p style="margin-left: 40px">Fajr: @Masjid.Fajr.ToString("hh:mm") AM</p>
            <p style="margin-left: 40px">Zuhr: @Masjid.Zuhr.ToString("hh:mm") PM</p>
            <p style="margin-left: 40px">Asr: @Masjid.Asr.ToString("h:mm") PM</p>
            <p style="margin-left: 40px">Maghrib: @Masjid.Maghrib.ToString("hh:mm") PM</p>
            <p style="margin-left: 40px">Isha: @Masjid.Isha.ToString("hh:mm") PM</p>
        </li>
        
    }
</ul>

 