@model IEnumerable<PrayerTimes.Models.Masjid>
@{
    ViewBag.Title = "Home Page";
}
<br>
<h1 align="center">Jamat Timings</h1>
<table class="table-hover table table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Name
        </th>
        <th>
            Fajr
        </th>
        <th>
            Zhur
        </th>
        <th>
            Asr
        </th>
        <th>
            Maghrib
        </th>
        <th>
            Isha
        </th>
        <th>
            Jumah 1
        </th>
        <th>
            Jumah 2
        </th>
        
    </tr>
    
        @foreach (var masjid in Model)
        {
            <tr>
                <th>
                    @masjid.MasjidID
                </th>
                <th>
                    @masjid.Name
                </th>
                <th>
                    @masjid.prayerTimings.FajrHr:@masjid.prayerTimings.FajrMin
                </th>
                <th>
                    @masjid.prayerTimings.ZhurHr:@masjid.prayerTimings.ZhurMin
                </th>
                <th>
                    @masjid.prayerTimings.AsrHr:@masjid.prayerTimings.AsrMin
                </th>
                <th>
                    @masjid.prayerTimings.MaghribHr:@masjid.prayerTimings.MaghribMin
                </th>
                <th>
                    @masjid.prayerTimings.IshaHr:@masjid.prayerTimings.IshaMin
                </th>
                <th>
                    @masjid.prayerTimings.Jumah1Hr:@masjid.prayerTimings.Jumah1Min
                </th>
                <th>
                    @masjid.prayerTimings.Jumah2Hr:@masjid.prayerTimings.Jumah2Min
                </th>
            </tr>
        }
            
</table>